$brand-text = #333
$brand-primary = blue

$brand-box-shadow = 0 2px 4px 0 rgba(200,200,200,0.25)

$zindex-tiny = 1
$zindex-small = 2
$zindex-medium = 3
$zindex-large = 4
$zindex-huge = 5

$width-padding-page = px2rem(20)
